.receipts_table_main {
    padding:20px;
   
    margin:auto;
    border-radius: 6px;
    margin-top: 100px;
    margin-left:50px;
    margin-right:50px;
    width:1000px;
    height:500px;
    box-shadow: 0px 0px 30px rgb(9, 9, 9);
    /* background-color: rgb(216, 247, 213); */
}
.receipts_label {
    text-align: center;
    font-weight:700;
    color:rgb(92,15,15);
    margin:10px;
    margin-top:20px;
}
.two_buttons {
    display:flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.make_a_payment_button {
    padding:6px !important;
    width:150px !important;
    border-radius:6px !important;
    border:none !important;
    background-color: rgb(13,197,151) !important;
    cursor:pointer !important;
    color:white !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    font-size:12px !important;
}
.search_bar {
    font:inherit;
    border: 0;
    border-radius:4px;
    
  
}
.view_receipts_button{
    padding:6px !important;
    width:100px !important;
    border-radius:6px !important;
    border:none !important;
    background-color: brown !important;
    cursor:pointer !important;
    color:white !important;
    font-weight:700 !important;
    line-height:1 !important;
    font-size:10px !important;
}
.inner-main{
    margin-top:70px;
    margin-left:300px;
}